a {
    text-decoration: none;
}

a:hover {

}

.background-image {
    position: fixed;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-image:  
    url(https://images.unsplash.com/photo-1455612693675-112974d4880b?ixlib=rb-1.2.1&auto=format&fit=crop&w=1600&h=500&q=60);
    background-size: cover;
    opacity: 0.3;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.body-text {
    display: flex;
    flex-direction: column;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    height: 100vh;
    line-height: 1.5em;
}

/*header*/

.header-topBar {
    background-image: linear-gradient(rgba(0, 0, 255, 0.5), rgba(255, 255, 0, 0.5));
    border-bottom: 2px solid grey;
    color: black;
    display: flex;
    justify-content: space-between;
    max-height: 50px;
    margin: -8px;
    padding: 18px;
}

.header-nameBox {
    background-color: rgba(0, 0, 255, 0.5);
    border: solid 2px;
    display: flex;
    font-size: 30px;
    padding: 25px 20px 40px 30px;
    margin-left: 8%;
}

.links {
    font-size: 140%;
    flex-direction: column;
    float: right;
    letter-spacing: 1px;
    padding: 15px;
    padding-right: 100px;
    padding-top: 16px;
    word-spacing: 8px;
}

/*index content*/

.section-main {
    display: flex;
    flex-grow: 1;
    justify-content: center;
}

.section-content {
    background: #ffffff;
    border: 5px solid lightgray;
    margin: 5%;
    max-width: 960px;
    padding: 3%;
    padding-top: 1%;
}

.section-content-img {
    border: 2px solid black;
    border-radius: 10px 100px / 120px;
    float: left;
    height: 15em;
    margin-right: 2%;
    padding-bottom: 1%;
    padding-right: 1%;
    width: 22em;
}

.section-border {
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    border-bottom: 2px solid grey;
}

/*contact page*/
.section-form {
    max-width: 960px;
}


/*portfolio*/
.port-section-images {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}

.img1, .img2, .img3, .img4 {
    max-height: 220px;
    max-width: 240px;
    padding: 15px;
    position: relative;
}

.img5 {
    max-height: 550px;
    max-width: 700px;
}

.img1-text, .img3-text {
    background: teal;
    border: 4px single lightgray;
    bottom: 75px; 
    color: white;
    display: inline-block;
    left: 24px;
    padding-left: 6%;
    padding-right: 6%;
    position: relative;
    text-align: center;
    width: auto;
}

.img2-text, .img4-text {
    background: teal;
    border: 1px solid lightgrey;
    bottom: 75px; 
    color: white;
    display: inline-block;
    left: 25px;
    padding-left: 10%;
    padding-right: 10%;
    position: relative;
    text-align: center;
    width: auto;
}

.img5-text {
    background: teal;
    border: 1px solid lightgrey;
    bottom: 80px; 
    color: white;
    display: inline-block;
    position: relative;
    text-align: center;
    width: 100%;
}


/*footer*/
footer {
    background-image: linear-gradient(to top, rgba(0, 0, 255, 0.5), rgba(255, 255, 0, 0.5));
    border-top: 3px solid grey;
    color: black;
    flex-shrink: 0;
    display: flexbox;
    justify-content: center;
    margin: -8px;
    max-height: 15px;
    padding: 24px;
    text-align: center;
}